{% load bootstrap4 %}
{% include 'navbar.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eKiosk | Post Ad </title>
</head>

<body>

        <br>


        <div class="container">
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <div id="postadform">
                                        <span class="postad">Post Ad</span>
                                        <form method="POST" enctype="multipart/form-data" class="form">
                                                {% csrf_token %}
                                                {% bootstrap_form form %}
                                                {% buttons %}
                                                <input type="submit" class="btn btn-info" value="Post Ad">
                                                {% endbuttons %}
                                        </form>
                                </div>
                        </div>
                        <div class="col-md-3"></div>
                </div>
        </div>
        <br>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>

</html>