{% extends 'base.html' %}


{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">



{% include 'carosel.html'%}
<br>
<br>

<!-- all category -->
<div class="card">
    <div id="cardbody" class="card-body">

        <h3>Select your Category and find perfect a item </h3>

        <ul class="all-cat-lits">

            {% for category in category_list%}
            <li id="catlist"><b><a href="{% url 'products:product_list_category' category.slug %}"> {{category}} </a></b>
                <spann class="num-of-adds">({{category.total_product}})</spann>
            </li>
            {% endfor %}

        </ul>


    </div>
</div>

<br>

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'products:product_list'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'products:product_list'%}">All Ads</a></li>
        {% if category%}
        <li class="breadcrumb-item active">{{category}} </li>
        {% endif %}
    </ol>
</nav>

<br>
<!-- end  category list -->


<!-- itmes -->
<div class="row">

    <div class="col-md-8">
        <div class="card pt-3">
            <div class="card-body">
                <ul id="lists" class="list">
                    {% for product in product_list %}
                    <div class="container-box">
                        <a id="cardd" href="{% url 'products:product_detail' product.slug %}">
                            <div class="container-prodlisting">
                                <div class="image--2hizm">
                                    <img class="image-product"
                                        src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}"
                                        alt="bnjkooig">
                                </div>
                                <div class="contents">
                                    <span> <b> {{product.title}} </b></span>
                                    <div>
                                        <div></div>
                                        <div><span>GH₵ {{product.price}}</span></div>
                                        <div><span>{{product.date}} </span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    <hr>

                    {% endfor %}


                    <br>


                    {% if product_list.has_other_pages %}
                    <ul class="pagination pagination-sm">

                        {% if product_list.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ product_list.previous_page_number }}">Prev</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"></a></li>
                        {% endif %}


                        {% for pages in product_list.paginator.page_range %}
                        {% if product_list.number == pages %}
                        <li class="page-item "><a class="page-link" href="#">{{pages}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
                        {% endif %}
                        {% endfor %}



                        {% if product_list.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ product_list.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"></a></li>
                        {% endif %}

                    </ul>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <br>
        <form class="header-search-form" method="GET" action="{% url 'products:product_list'%}">
            <input name="q" type="text" placeholder="Search ....">
            <input type="submit" value="Search">
            <!--<button><i class="flaticon-search"></i>Search</button>-->
        </form>
        <br>
        <br>

        <div>
            <h6> <b> Location</b> </h6>
        </div>

        <div>
            <h6><b> Filter with Price</b></h6>
            <input type="radio"> Ghc 1.00 - Ghc 99.00 <br>

            <input type="radio"> Ghc 100.00 - Ghc 199.00 <br>

            <input type="radio"> Ghc 200.00 - Ghc 299.00 <br>

            <input type="radio"> Ghc 300.00 - Ghc 399.00 <br>

            <input type="radio"> Ghc 400.00 - Ghc 499.00 <br>

            <input type="radio"> Ghc 500.00 - Ghc 599.00 <br>

            <input type="radio"> Ghc 600.00 - Ghc 699.00 <br>

            <input type="radio"> Ghc 700.00 - Ghc 799.00 <br>

            <input type="radio"> Ghc 800.00 - Ghc 899.00 <br>

            <input type="radio"> Ghc 900.00 - Ghc 1,000.00 <br>
        </div>

    </div>

</div>



</div>

<!-- end items -->


{% endblock content %}