{% extends 'base.html' %}

{% block content %}

{% load static %}
<br>
<br>

<div class="contianer">
    <div class="row">

        <div class="col-md-4 bg-dark text-center">
            <div >
                <div class="image-containers">
                    <br>
                        <h2 class="text-white">{{ user }}</h2>
                        <p><a href="{% url 'accounts:editprofile' %}" class="info">Edit Profile</a></p>
                        <p> <a href="{% url 'accounts:password_change' %}" class="info"> Change Account Password </a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="main-container">
                <p> <strong> <i class="fa fa-briefcase info"></i> {{ user.first_name }} {{ user.last_name }}</strong></p>
                <p> <i class="fa fa-envelope info"></i> {{ user.email }} </p>
                <hr>
            </div>
        </div>

        <div class="col-md-4 text-center">
                <a href="{% url 'products:sell_item' %}"> <input type="submit" class="btn btn-dark" value="Post Ad"></a>
        </div>

    </div>
</div>

<br>
<br>

<div class="container text-center">
    {% if products %}
    <h1 class="display-5">Ads You've Posted</h1>
    <p>Click on Ad to edit</p>
    {% else %}
    <h1 class="display-5">You have not posted any Ad</h1>
    <p>Post an Ad to reach 1,000,000 + people in the world, who are interested in your item</p>
    {% endif %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 p-2">
            <a href="{% url 'products:edit_item' product.slug %}">
                <div class='card'>
                    <div class="card-header">
                        <h5>{{ product.title }}</h5>
                    </div>
                    {% if product.image %}
                    <div class="card-img">
                        <img class="img-fluid" style="max-height: 250px;" src="{{ product.image.url }}">
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>

    <a href="{% url 'products:sell_item' %}"> <input type="submit" class="btn btn-dark" value="Post Ad"></a>
    <br>
    <br>
</div>




{% endblock %}