{% load bootstrap4 %}
{% include 'navbar.html' %}
{% load static %}

<br>


<div class="container">
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                        <div id="postadform">
                                <span class="postad">Change Password</span>

                                <form method="POST" class="form">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}

                                        <div class="flex-sb-m w-full p-b-48">
                                                <div class="row">
                                                        <div id="txt3" class="col-sm-3">
                                                                <div>
                                                                        <a href="{% url 'accounts:login' %}"
                                                                                class="txt3">
                                                                                Login
                                                                        </a>
                                                                </div>
                                                        </div>
                                                        <div class="col-sm-6"></div>
                                                        <div id="txt3" class="col-sm-3">
                                                                <div>
                                                                        <a href="{% url 'accounts:register' %}"
                                                                                class="txt3">
                                                                        </a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        {% buttons %}
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                        {% endbuttons %}
                                </form>

                        </div>

                </div>
                <div class="col-md-3"></div>
        </div>

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>